<p>enquiry works!</p>
<div class="card">
    {{dataComingFromChild | json}}
</div>
<div class="container-fluid">
    <div class="row">
      <div class="col-8">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Enquiry For</th>
                <!-- <th scope="col">Comment</th> -->
                <th scope="col">Created At</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of enquiryList;let i = index;">
                <th scope="row">{{i + 1}}</th>
                <td>{{item.enquiryFor}}</td>
                <!-- <td>{{item.comment}}</td> -->
                <td>{{item.createdAt | date:'short'}}</td>
                <td><button type="button" class="btn btn-primary btn-sm" (click)="viewDetails(item)">View</button></td>
              </tr>
             
            </tbody>
          </table>
      </div>
      <div class="col-4">
        <div class="card">
            Enquiry Details
            <div class="card-body">
                <app-enquiry-details [enquiryDetails]="selectedItem" (dataFromChild)="receiveData($event)"></app-enquiry-details>
            </div>
          </div>
      </div>
    </div>
  </div>