<div class="container-fluid" style="padding-left: 0px;padding-right: 0px;">
    <div class="row">
      <div class="col-3">
        <ul class="list-group">
            <li appChangeBg class="list-group-item" routerLink="/main/poc/charts">Charts</li>
            <li appChangeBg class="list-group-item" routerLink="/main/poc/notification">Notification</li>
            <li appChangeBg class="list-group-item"  routerLink="/main/poc/google-map">Google Map</li>
            <li appChangeBg class="list-group-item"  routerLink="/main/poc/Observable">Observable</li>
            <li appChangeBg class="list-group-item"  routerLink="/main/poc/reactive-form">Reactive Form</li>
            <li appChangeBg class="list-group-item"  routerLink="/main/poc/template-driven-form">Template Driven Form</li>
            <li appChangeBg class="list-group-item"  routerLink="/main/poc/api-integration">Api Integration</li>
          </ul>
      </div>
      <div class="col-9">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>