<section style="min-height: 450px;">
    <app-header></app-header>
    <div class="container-fluid" style="padding-left: 0px;">
        <div class="row">
            <h4 class="page-heading">
                <marquee>Welcome To Mini Project Mr. {{activeUser.firstName}} {{activeUser.lastName}}</marquee>
            </h4>
            <div class="col-md-2">
                <app-side-bar></app-side-bar>
            </div>
            <div class="col-md-10" style="padding-top: 40px;padding-left: 0px;">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</section>